# Copyright (c) 2026 Satvik Shrivastava. All rights reserved.
# This work is the property of Satvik Shrivastava.
# Unauthorized copying, modification, or distribution is strictly prohibited.

streamlit

pandas
duckdb==1.4.4
plotly
google-generativeai
pygwalker
numpy
groq
altair
streamlit-aggrid
streamlit-echarts
streamlit-extras
dbt-duckdb
requests
scikit-learn
